html,
body {
  height: 100vh;
}

body {
  margin: 0;
  display: flex;

  /* This centers our sketch horizontally. */

  /* This centers our sketch vertically. */

  background-color: antiquewhite;
  background-image: url(../assets/1104367.jpg);
  background-size: cover;
}
img {
  width: 1000px;
  height: 100px;

  position: relative;
  margin-top: 100px;
}
